<h1>BLAAAA</h1>

<% if @user_orders != [] %>
<ul>
  <% @user_orders.each do |order| %>
  <li>
    <%= link_to "Order #{order.id}", order_path(order.id) %>
    Date: <%= order.updated_at %>
  </li>
  <% end %>
</ul>
<% end %>
