/*@import url('https://fonts.googleapis.com/css?family=Codystar');*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

COLOR PALLET
charcoal  color: #373737
Silk      color: #DCD0C0
Paper     color: #F4F4F4
Pale Gold color: #C0B283
 */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #373737;
  background-color: #F4F4F4;
}

h1, h1 a, h2, h3, h4 {
  font-family: 'Codystar', cursive;
  font-weight: bold;
  color: #C0B283
}

a:hover {
  color: #DCD0C0;
}

a {
  color: #373737;
}

header {
  height: 70px;
}
.main-header {
  float: left;
}

.header-login {
  /*clear: both;*/
  float: right;
  display: block;
}

.header-login li {
  display: inline-block;
}

.cart img {
  height: 30px;
}

.cart {
  margin: 10px;
}

.login {
  margin-right: 10px;
}

body {
  clear:both;
}

/*Adding Styling for the categories index page*/
.hero {
  height: 400px;
  background-color: #DCD0C0;
}

#pig{
  height: 200px;
  position: relative;
  top: 0;
}

#slogan {
  margin-top: 100px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  background-color: inherit;
  color: #F4F4F4;
}

.index_photo {
  height: 100px;
}

.category {
  text-align: center;
  margin: 20px 0px;
  overflow: scroll;
 }

 .border {
  width: 90%;
  height: 200px;
  border: 2px dotted #C0B283;
  padding: 10px;
 }
