<article class="index">

  <div class="row">
    <div class="small-6 columns hero">
      <h3>Whatever your budget...<br /> We'll break it.</h3>
    </div>
    <div class="small-6 columns hero-pic">
      <img src="https://static.pexels.com/photos/9660/business-money-pink-coins.jpg" alt="piggy bank with money" />
    </div>
  </div>

  <h3>Shop by Categories</h3>
  <div class="row">
  <% @categories.each do |category| %>
      <!-- need to link to list of products with this category -->
    <div class="small-12 medium-6 large-4 columns category">
      <%= link_to(category_products_path(category.id)) do %>
        <%= category.name %> <br />
        <img src="<%= category.photo %>" alt="category_photo", class="index_photo" >
      <% end %>
    </div>
  <% end %>
  </div>

</article>
