<h1>Shop by Categories</h1>
<% @categories.each do |category| %>
    <!-- need to link to list of products with this category -->
    <ul>
      <li>
        <%= link_to category.name, category_products_path(category.id) %>
      </li>
    </ul>
<% end %>
