<article class="index">
  <div class = "row title">
    <h3 class="small-12 cloumns">
      <%= @category_name %>
    </h3>
  </div>

<ul class="row">
  <% @products.each do |product| %>
    <div class="border">
    <%= link_to(product_path(product.id)) do %>
      <li class="small-12 medium-6 large-4 columns grid-item">
        <%= product.name %> <br />
        <img src="<%= product.photo_url %>" alt="product photo", class="index_photo" >
      </li>
    <% end %>
    </div>
  <% end %>
</ul>
</article>
