<article>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>Add New Product</h3>

      <%= render partial: "form", locals: { action_name: "add product", form_method: :post } %>
    </div>
  </div>
</article>
